<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation %>
  <div class="field">
    <%= f.label :pin %><br />
    <%= f.number_field :pin %>
  </div>
  <div class="field">
    <%= f.label :imageid1 %><br />
    <%= f.number_field :imageid1 %>
  </div>
  <div class="field">
    <%= f.label :imageid2 %><br />
    <%= f.number_field :imageid2 %>
  </div>
  <div class="field">
    <%= f.label :imageid3 %><br />
    <%= f.number_field :imageid3 %>
  </div>
  <div class="field">
    <%= f.label :imageid4 %><br />
    <%= f.number_field :imageid4 %>
  </div>
  <div class="actions">
    <%= f.submit "Create my account"%>
  </div>
<% end %>
